In [1]:
import pandas as pd

In [2]:
person = pd.DataFrame({
    'id': [1, 2, 3],
    'email': ['a@b.com', 'c@d.com', 'a@b.com']
})

In [3]:
person

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [7]:
df = person.groupby(by= 'email').agg(cnt = ('email', 'size')).reset_index()

In [9]:
df[df['cnt'] > 1][['email']].rename(columns = {'email': 'Email'})

     Email
0  a@b.com