In [11]:
import pandas as pd

In [12]:
weather = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'recordDate': ['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04'],
    'temperature': [10, 25, 20, 30]
})

In [13]:
weather

   id  recordDate  temperature
0   1  2015-01-01           10
1   2  2015-01-02           25
2   3  2015-01-03           20
3   4  2015-01-04           30

In [14]:
weather['recordDate'] = pd.to_datetime(weather['recordDate'])

In [15]:
weather

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [17]:
weather['prevDate'] = weather['recordDate'] - pd.Timedelta(days = 1)

In [18]:
weather

   id recordDate  temperature   prevDate
0   1 2015-01-01           10 2014-12-31
1   2 2015-01-02           25 2015-01-01
2   3 2015-01-03           20 2015-01-02
3   4 2015-01-04           30 2015-01-03

In [22]:
df = weather.merge(weather, how= 'inner', left_on= 'prevDate', right_on= 'recordDate', suffixes= ('_c', '_p'))

In [26]:
df[df['temperature_c'] > df['temperature_p']][['id_c']].rename(columns= {'id_c': 'id'})

   id
0   2
2   4