In [1]:
import pandas as pd

In [7]:
trips = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'client_id': [1, 2, 3, 4, 1, 2, 3, 2, 3, 4],
    'driver_id': [10, 11, 12, 13, 10, 11, 12, 12, 10, 13],
    'city_id': [1, 1, 6, 6, 1, 6, 6, 12, 12, 12],
    'status': ['completed', 'cancelled_by_driver', 'completed', 'cancelled_by_client', 'completed', 'completed', 'completed', 'completed', 'completed', 'cancelled_by_driver'],
    'request_at': ['2013-10-01', '2013-10-01', '2013-10-01', '2013-10-01', '2013-10-02', '2013-10-02', '2013-10-02', '2013-10-03', '2013-10-03', '2013-10-03']
})

In [8]:
trips

   id  client_id  driver_id  city_id               status  request_at
0   1          1         10        1            completed  2013-10-01
1   2          2         11        1  cancelled_by_driver  2013-10-01
2   3          3         12        6            completed  2013-10-01
3   4          4         13        6  cancelled_by_client  2013-10-01
4   5          1         10        1            completed  2013-10-02
5   6          2         11        6            completed  2013-10-02
6   7          3         12        6            completed  2013-10-02
7   8          2         12       12            completed  2013-10-03
8   9          3         10       12            completed  2013-10-03
9  10          4         13       12  cancelled_by_driver  2013-10-03

In [9]:
users = pd.DataFrame({
    'users_id': [1, 2, 3, 4, 10, 11, 12, 13],
    'banned': ['No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No'],
    'role': ['client', 'client', 'client', 'client', 'driver', 'driver', 'driver', 'driver']
})

In [10]:
users

   users_id banned    role
0         1     No  client
1         2    Yes  client
2         3     No  client
3         4     No  client
4        10     No  driver
5        11     No  driver
6        12     No  driver
7        13     No  driver

In [13]:
trips['request_at'] = pd.to_datetime(trips['request_at'])

In [17]:
users[users['banned'] == 'Yes']['users_id'].unique()

array([2])

In [22]:
df = trips[(~trips['client_id'].isin(users[users['banned'] == 'Yes']['users_id'].unique())) & (~trips['driver_id'].isin(users[users['banned'] == 'Yes']['users_id'].unique())) & ((trips['request_at'] >= '2013-10-01') & (trips['request_at'] <= '2013-10-03'))]

In [29]:
df['cancelled'] = df['status'].str.startswith('cancelled').astype(int)

C:\Users\wasim\AppData\Local\Temp\ipykernel_28576\3696587435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cancelled'] = df['status'].str.startswith('cancelled').astype(int)

In [36]:
df = df.groupby(by= 'request_at').agg(cr = ('cancelled', 'sum'), total = ('id', 'count')).reset_index()

In [38]:
df['Cancellation Rate'] = round(df['cr']/df['total'], 2)

In [41]:
df[['request_at', 'Cancellation Rate']].rename(columns = {'request_at': 'Day'})

         Day  Cancellation Rate
0 2013-10-01               0.33
1 2013-10-02               0.00
2 2013-10-03               0.50