In [1]:
import pandas as pd

In [2]:
insurance = pd.DataFrame({
    'pid': [1, 2, 3, 4],
    'tiv_2015': [10, 20, 10, 10],
    'tiv_2016': [5, 20, 30, 40],
    'lat': [10, 20, 20, 40],
    'lon': [10, 20, 20, 40]
})

In [3]:
insurance

   pid  tiv_2015  tiv_2016  lat  lon
0    1        10         5   10   10
1    2        20        20   20   20
2    3        10        30   20   20
3    4        10        40   40   40

In [10]:
insurance['lat_lon_count']= insurance.groupby(by= ['lat', 'lon'])['pid'].transform('count')

In [11]:
insurance

   pid  tiv_2015  tiv_2016  lat  lon  lat_lon_count
0    1        10         5   10   10              1
1    2        20        20   20   20              2
2    3        10        30   20   20              2
3    4        10        40   40   40              1

In [13]:
insurance['tiv_2015_cnt'] = insurance.groupby(by= 'tiv_2015')['pid'].transform('count')

In [14]:
insurance

   pid  tiv_2015  tiv_2016  lat  lon  lat_lon_count  tiv_2015_cnt
0    1        10         5   10   10              1             3
1    2        20        20   20   20              2             1
2    3        10        30   20   20              2             3
3    4        10        40   40   40              1             3

In [17]:
pd.DataFrame({'tiv_2016': [insurance[(insurance['lat_lon_count'] == 1) & (insurance['tiv_2015_cnt'] > 1)]['tiv_2016'].sum().round(2)]})

   tiv_2016
0        45