In [1]:
import pandas as pd

In [2]:
employee = pd.DataFrame({
    'id': [1, 2, 3],
    'salary': [100, 200, 300]
})

In [3]:
employee

   id  salary
0   1     100
1   2     200
2   3     300

In [17]:
employee['d_rnk'] = employee['salary'].rank(method= 'dense', ascending= False)

In [37]:
sal = employee[employee['d_rnk'] == 2]['salary'].unique()

In [36]:
pd.DataFrame({'SecondHighestSalary': sal if len(sal) != 0 else [None]})

  SecondHighestSalary
0                None