In [1]:
import pandas as pd

In [2]:
customers = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max']
})

In [3]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [4]:
orders = pd.DataFrame({
    'id': [1, 2],
    'customerId': [3, 1]
})

In [5]:
orders

   id  customerId
0   1           3
1   2           1

In [11]:
customers[~customers['id'].isin(orders['customerId'].unique())][['name']].rename(columns ={'name': 'Customers'})

  Customers
1     Henry
3       Max