In [1]:
import pandas as pd

In [2]:
scores = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'score': [3.5, 3.65, 4.0, 3.85, 4.0, 3.65]
})

In [4]:
scores['rank'] = scores['score'].rank(method= 'dense', ascending= False)

In [6]:
scores[['score', 'rank']].sort_values(by= 'score', ascending= False)

   score  rank
4   4.00   1.0
2   4.00   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0   3.50   4.0