In [1]:
import pandas as pd

In [2]:
person = pd.DataFrame({
    'personId': [1, 2],
    'lastName': ['Wang', 'Alice'],
    'firstName': ['Allen', 'Bob']
})

In [3]:
person

   personId lastName firstName
0         1     Wang     Allen
1         2    Alice       Bob

In [4]:
address = pd.DataFrame({
    'addressId': [1, 2],
    'personId': [2, 3],
    'city': ['New York City', 'Leetcode'],
    'state': ['New York', 'California']
})

In [5]:
address

   addressId  personId           city       state
0          1         2  New York City    New York
1          2         3       Leetcode  California

In [7]:
person.merge(address, how= 'left', on= 'personId')[['firstName', 'lastName', 'city', 'state']]

  firstName lastName           city     state
0     Allen     Wang            NaN       NaN
1       Bob    Alice  New York City  New York