In [9]:
import pandas as pd

In [10]:
activity = pd.DataFrame({
    'player_id': [1, 1, 2, 3, 3],
    'device_id': [2, 2, 3, 1, 4],
    'event_date': ['2016-03-01', '2016-03-02', '2017-06-25', '2016-03-02', '2018-07-03'],
    'games_played': [5, 6, 1, 0, 5]
})

In [11]:
activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-03-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [12]:
activity['event_date'] = pd.to_datetime(activity['event_date'])

In [13]:
df = activity.groupby(by= 'player_id').agg(first_login = ('event_date', 'min')).reset_index()

In [16]:
df['second_day'] = df['first_login'] + pd.Timedelta(days= 1)

In [20]:
df = df.merge(activity, how= 'left', left_on= ['player_id', 'second_day'], right_on= ['player_id', 'event_date'], suffixes= ('_f', '_n'))

In [26]:
pd.DataFrame({'fraction': [round(df['device_id'].count()/df['player_id'].count(), 2)]})

   fraction
0      0.33