In [1]:
import pandas as pd

In [2]:
person = pd.DataFrame({
    'id': [1, 2, 3],
    'email': ['john@example.com', 'bob@example.com', 'john@example.com']
})

In [3]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [7]:
person.sort_values(by= 'id', ascending= True)

   id             email
0   1  john@example.com
1   2   bob@example.com

In [5]:
person.drop_duplicates(subset= 'email', keep= 'first', inplace= True)

In [6]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com