In [14]:
import pandas as pd

In [15]:
logs = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6, 7],
    'num': ['1', '1', '1', '2', '1', '2', '2']
})

In [16]:
logs

   id num
0   1   1
1   2   1
2   3   1
3   4   2
4   5   1
5   6   2
6   7   2

In [17]:
logs = logs.sort_values(by='id', ascending= True)

In [18]:
logs['n_1'] = logs['num'].shift(-1)

In [19]:
logs['n_2'] = logs['num'].shift(-2)

In [20]:
logs[(logs['num'] == logs['n_1']) & (logs['n_1'] == logs['n_2'])]['num'].unique()

array(['1'], dtype=object)

In [21]:
pd.DataFrame({'ConsecutiveNums': logs[(logs['num'] == logs['n_1']) & (logs['n_1'] == logs['n_2'])]['num'].unique()})

  ConsecutiveNums
0               1